@charset "UTF-8";
@font-face {
  font-family: "amsipro-regular";
  src: url("../fonts/amsipro-webfont.woff2") format("woff2"), url("../fonts/amsipro-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "amsipro-black";
  src: url("../fonts/amsipro-black-webfont.woff2") format("woff2"), url("../fonts/amsipro-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "amsipro-black-italic";
  src: url("../fonts/amsipro-blackitalic-webfont.woff2") format("woff2"), url("../fonts/amsipro-blackitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "amsipro-bold";
  src: url("../fonts/amsipro-bold-webfont.woff2") format("woff2"), url("../fonts/amsipro-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "amsipro-bold-italic";
  src: url("../fonts/amsipro-bold-italic-webfont.woff2") format("woff2"), url("../fonts/amsipro-bold-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "amsipro-italic";
  src: url("../fonts/amsipro-italic-webfont.woff2") format("woff2"), url("../fonts/amsipro-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.btn {
  display: inline-block;
  padding: 10px 27px 11px;
  font-family: "amsipro-bold";
  font-size: 14px;
  color: white;
  text-transform: uppercase;
  border-radius: 22px;
  cursor: pointer;
}
.btn--primary {
  background-color: #4BC789;
}
.btn--secondary {
  background-color: #FD8B26;
}
.btn--gray {
  background-color: #B7B7B7;
}
.btn--whatsapp {
  padding: 5px 17px;
  background-color: #4CAF50;
  font-family: "amsipro-regular";
  font-size: 12px;
}
.btn.padding-lg {
  padding: 10px 60px 11px;
}
.btn:hover, .btn:focus {
  color: white;
}

.duration {
  padding: 12px 38px;
  border-radius: 25px;
  background-color: #B7B7B7;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16);
  font-family: "amsipro-bold";
  color: white;
  text-align: center;
}
.duration i {
  margin-right: 10px;
}
.duration i:before {
  color: #2C2C2C;
}
.duration .time {
  color: #2121A5;
}

.duration-wrap {
  height: 50px;
}
@media (max-width: 40rem) {
  .duration-wrap {
    height: initial;
  }
}

.title {
  font-family: "amsipro-black";
  font-size: 42px;
  color: #2121A5;
}
@media (max-width: 40rem) {
  .title {
    font-size: 24px;
  }
}

@media (max-width: 40rem) {
  p.paragraph {
    font-size: 12px;
  }
}

.list-style-1 {
  list-style: none;
  margin-top: 36px;
}
.list-style-1 li {
  margin-bottom: 20px;
  text-align: left;
  line-height: 1.4;
}
.list-style-1 li:before {
  content: "•";
  color: #FD8B26;
  font-weight: bold;
  display: inline-block;
  width: 16px;
  margin-left: -1em;
}
@media (max-width: 40rem) {
  .list-style-1 {
    margin-top: 22px;
  }
  .list-style-1 li {
    font-size: 12px;
  }
}

.header {
  width: 100%;
  height: 100px;
  padding-top: 24px;
  position: fixed;
  z-index: 1;
  background-color: transparent;
  overflow: hidden;
  -webkit-transition: all 400ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 400ms cubic-bezier(0.42, 0, 0.58, 1);
  -ms-transition: all 400ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 400ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 400ms cubic-bezier(0.42, 0, 0.58, 1);
}
.header .logo-remby.active {
  display: none;
}
.header nav a {
  display: inline-block;
  margin-left: 28px;
  color: white;
}
.header nav a:hover {
  color: #FD8B26;
}
.header nav a.btn:hover {
  color: white;
}
.header .mobile-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  -webkit-transition: all 400ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 400ms cubic-bezier(0.42, 0, 0.58, 1);
  -ms-transition: all 400ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 400ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 400ms cubic-bezier(0.42, 0, 0.58, 1);
}
.header .mobile-wrap .close-icon {
  display: none;
}
@media (min-width: 40rem) {
  .header.active {
    -webkit-transition: all 400ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 400ms cubic-bezier(0.42, 0, 0.58, 1);
    -ms-transition: all 400ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 400ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 400ms cubic-bezier(0.42, 0, 0.58, 1);
    background-color: rgba(255, 255, 255, 0.9);
  }
  .header.active nav a {
    color: #2C2C2C;
  }
  .header.active nav a:hover {
    color: #FD8B26;
  }
  .header.active nav a.btn {
    color: white;
  }
  .header.active .logo-remby.not-active {
    display: none;
  }
  .header.active .logo-remby.active {
    display: block;
  }
}
@media (max-width: 40rem) {
  .header {
    background-color: #2121A5;
    height: 64px;
    padding-top: initial;
    position: fixed;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);
  }
  .header nav a:not(.btn) {
    padding: 10px 0 12px 50px;
    margin-left: initial;
    width: 100%;
    font-size: 12px;
  }
  .header nav a:not(.btn):hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .header nav a:nth-child(3) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 26px;
  }
  .header .btn {
    margin-left: 50px;
    font-size: 12px;
  }
  .header .btn--secondary {
    margin-top: 10px;
  }
  .header .logo-remby {
    width: 114px;
  }
  .header .mobile-wrap {
    display: initial;
    justify-content: initial;
    background-color: #2121A5;
    position: fixed;
    height: 100%;
    width: 80%;
    top: 0;
    left: 0;
    z-index: 2;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);
    -webkit-transition: all 400ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 400ms cubic-bezier(0.42, 0, 0.58, 1);
    -ms-transition: all 400ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 400ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 400ms cubic-bezier(0.42, 0, 0.58, 1);
  }
  .header .mobile-wrap .close-icon {
    display: inline-flex;
    width: 14px;
    height: 14px;
    cursor: pointer;
  }
  .header .mobile-wrap .flex {
    flex-wrap: wrap;
  }
  .header .mobile-menu-opened-header {
    padding: 18px 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  .header .title-bar {
    background: transparent;
    width: 100%;
    height: 64px;
    padding: 16px 0px;
    justify-content: center;
  }
  .header .title-bar .menu-icon {
    position: absolute;
    left: 23px;
  }
}
@media (min-width: 40rem) {
  .header--style-b {
    background-color: white;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.08);
  }
  .header--style-b nav a {
    color: #2C2C2C;
  }
  .header--style-b nav a:hover {
    color: #FD8B26;
  }
  .header--style-b nav a.btn {
    color: white;
  }
  .header--style-b nav a.btn:hover {
    color: white;
  }
}

footer {
  background-color: #2121A5;
  font-size: 12px;
  color: white;
}
footer .footer-description {
  margin-left: 20px;
  max-width: 483px;
}
footer .logo {
  padding: 40px 0;
}
footer .footer-bottom {
  background-color: rgba(255, 255, 255, 0.1);
}
footer .footer-bottom .flex {
  height: 50px;
}
footer .social-desktop div {
  margin-bottom: 10px;
}
footer .social-desktop i {
  margin-right: 6px;
}
footer .social-desktop i:before {
  font-size: 16px;
}
footer .social-desktop .margin-left {
  margin-left: 18px;
}
@media (max-width: 40rem) {
  footer .footer-description {
    margin-left: 0;
    max-width: 260px;
    font-size: 10px;
    margin-bottom: 35px;
    text-align: center;
  }
  footer .logo {
    padding: 40px 0 20px;
  }
  footer .flex {
    flex-direction: column;
    height: initial;
    font-size: 10px;
    justify-content: center;
  }
  footer .footer-bottom .flex {
    flex-direction: row-reverse;
    gap: 20px;
  }
  footer .copyright-disclaimer {
    margin-bottom: 10px;
  }
  footer .show-for-small-only .title {
    font-family: "amsipro-black";
    font-size: 14px;
    margin-bottom: 10px;
  }
  footer .show-for-small-only .footer-icons-nav {
    display: flex;
    gap: 10px;
    margin-bottom: 25px;
  }
  footer .show-for-small-only .footer-icons-nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 25px;
    background-color: #FD8B26;
  }
  footer .show-for-small-only .footer-icons-nav a:last-child {
    background-color: #4BC789;
  }
  footer .show-for-small-only .footer-icons-nav a i:before {
    color: white;
    font-size: 20px;
  }
}

.form textarea,
.form input[type] {
  height: 52px;
  border-radius: 25px;
  border: 1px solid #B7B7B7;
  padding: 14px 28px;
}
.form textarea {
  height: 155px;
}
.form label {
  display: inline-block;
  text-transform: uppercase;
  background-color: white;
  position: relative;
  top: 12px;
  left: 20px;
  padding: 0 12px 0 8px;
}

.reveal.custom-reveal {
  border-radius: 19px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);
  padding: 56px;
}
.reveal.custom-reveal i:before {
  font-size: 82px;
  color: #FD8B26;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);
  background-color: white;
}
.reveal.custom-reveal .title {
  line-height: 1;
}
.reveal.custom-reveal .btn {
  margin: 9px;
}
.reveal.custom-reveal .margin {
  margin: 36px 0;
}
.reveal.custom-reveal .close-button span {
  display: block;
  border: 1px solid #B7B7B7;
  border-radius: 12px;
  width: 23px;
  height: 23px;
  font-size: 21px;
  font-family: "amsipro-regular";
}
.reveal.custom-reveal.success-msg {
  text-align: center;
}

.lgpd-warning {
  background-color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 30px 0;
}
.lgpd-warning .flex {
  gap: 180px;
}
@media (max-width: 40rem) {
  .lgpd-warning {
    font-size: 12px;
  }
  .lgpd-warning .flex {
    flex-direction: column;
    gap: 10px;
  }
}

.flex {
  display: flex;
}

.grid-x.align-middle {
  height: 100%;
}

.highlight {
  color: #FD8B26;
}
.highlight:focus, .highlight:hover {
  color: #FD8B26;
}

.text-center {
  text-align: center;
}

.separator {
  display: block;
  width: 100%;
  height: 8px;
  background-color: #2121A5;
  position: relative;
  top: 77px;
}
@media (max-width: 60rem) {
  .separator {
    display: none;
  }
}

.show-for-small-only {
  display: none;
}

.switch-mobile img:first-child {
  display: block;
}
.switch-mobile img:last-child {
  display: none;
}
@media print, screen and (max-width: 40em) {
  .switch-mobile img:first-child {
    display: none;
  }
  .switch-mobile img:last-child {
    display: block;
  }
}

@media print, screen and (max-width: 39.99875em) {
  .hide-for-small-only {
    display: none;
  }

  .show-for-small-only {
    display: inline-block;
  }

  .text-center-mobile {
    text-align: center;
  }
}
body {
  font-family: "amsipro-regular", sans-serif;
  color: #2C2C2C;
}
body .grid-container {
  max-width: 81rem;
}
body a:hover, body a:focus {
  text-decoration: underline;
}

.sec {
  padding: 50px 0;
}
.sec--hero {
  padding-top: 100px;
  display: flex;
  background-image: url(" ");
  background-position: center;
  background-repeat: repeat;
  background-color: #2121A5;
  color: white;
  height: 768px;
}
.sec--hero .heading {
  font-family: "amsipro-black";
  font-size: 52px;
  line-height: 1.1;
}
@media (max-width: 40rem) {
  .sec--hero .heading {
    font-size: 28px;
  }
}
.sec--hero .subheading {
  font-size: 21px;
  max-width: 453px;
  margin: 45px 0 60px;
}
@media (max-width: 40rem) {
  .sec--hero {
    height: 440px;
  }
  .sec--hero .heading {
    font-size: 26px;
    line-height: 1.4;
    text-align: center;
    margin-top: 30px;
  }
  .sec--hero .subheading {
    font-size: 20px;
    line-height: 1.4;
  }
  .sec--hero .hero-img {
    max-width: 340px;
  }
}
.sec--posthero .subheading {
  font-size: 12px;
  max-width: 265px;
}
.sec--posthero .btn {
  margin: 30px 0;
}
@media (max-width: 40rem) {
  .sec--posthero {
    padding-top: 240px;
  }
}
.sec--how-it-works {
  padding: 0;
}
.sec--how-it-works .title {
  margin-bottom: 175px;
}
.sec--how-it-works .topics-wrapper {
  display: flex;
  justify-content: space-between;
}
.sec--how-it-works .topics-wrapper .how-it-works-topics {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 9px;
  width: 284px;
}
.sec--how-it-works .topics-wrapper .how-it-works-topics .topic-numbers {
  display: block;
  width: 132px;
  height: 132px;
  border-radius: 70px;
  background-color: #FD8B26;
  position: relative;
  margin-bottom: 60px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.16);
}
.sec--how-it-works .topics-wrapper .how-it-works-topics .topic-numbers:before {
  content: "";
  background-image: url("../images/pin.svg");
  background-repeat: no-repeat;
  display: block;
  width: 49px;
  height: 84px;
  position: absolute;
  top: -126px;
  left: 50%;
  margin-left: -24px;
}
.sec--how-it-works .topics-wrapper .how-it-works-topics .topic-numbers span {
  position: absolute;
  left: 5px;
  top: -70px;
  color: #2121A5;
  font-family: "amsipro-black";
  font-size: 152px;
}
.sec--how-it-works .topics-wrapper .how-it-works-topics figure {
  height: 200px;
}
.sec--how-it-works .topics-wrapper .how-it-works-topics img {
  display: block;
  margin: 0 auto;
}
.sec--how-it-works .topics-wrapper .how-it-works-topics .title-align-wrap {
  height: 88px;
  display: flex;
  align-items: flex-end;
}
.sec--how-it-works .topics-wrapper .how-it-works-topics .title-align-wrap .title.title--how-it-works {
  font-size: 32px;
  margin-bottom: 37px;
  text-align: left;
  line-height: 1.2;
}
.sec--how-it-works .topics-wrapper .how-it-works-topics .paragraph {
  line-height: 1.3;
}
.sec--how-it-works .btn {
  margin-top: 55px;
}
@media (max-width: 40rem) {
  .sec--how-it-works .title {
    margin-bottom: 30px;
  }
  .sec--how-it-works .topics-wrapper {
    flex-direction: column;
  }
  .sec--how-it-works .topics-wrapper .how-it-works-topics {
    flex-direction: row;
    align-items: flex-start;
    margin: 15px auto;
    width: 100%;
  }
  .sec--how-it-works .topics-wrapper .how-it-works-topics .topic-numbers {
    flex: none;
    width: 49px;
    height: 49px;
    margin-bottom: initial;
    margin-right: 18px;
  }
  .sec--how-it-works .topics-wrapper .how-it-works-topics .topic-numbers:before {
    content: none;
  }
  .sec--how-it-works .topics-wrapper .how-it-works-topics .topic-numbers span {
    font-size: 56px;
    top: -26px;
  }
  .sec--how-it-works .topics-wrapper .how-it-works-topics figure,
.sec--how-it-works .topics-wrapper .how-it-works-topics img {
    display: none;
  }
  .sec--how-it-works .topics-wrapper .how-it-works-topics .title-align-wrap {
    height: initial;
  }
  .sec--how-it-works .topics-wrapper .how-it-works-topics .title-align-wrap .title.title--how-it-works {
    font-size: 24px;
    margin-bottom: 8px;
  }
  .sec--how-it-works .topics-wrapper .how-it-works-topics .paragraph {
    font-size: 12px;
  }
  .sec--how-it-works .btn {
    margin-top: 20px;
  }
}
@media (min-width: 40rem) {
  .sec--how-it-works.hiw--frontpage .topics-wrapper .how-it-works-topics .title-align-wrap {
    justify-content: center;
  }
  .sec--how-it-works.hiw--frontpage .topics-wrapper .how-it-works-topics .title-align-wrap .title.title--how-it-works {
    text-align: center;
  }
  .sec--how-it-works.hiw--frontpage .topics-wrapper .how-it-works-topics .paragraph {
    text-align: center;
  }
}
.sec--how-it-works.hiw--about .topics-wrapper .how-it-works-topics img {
  max-height: 200px;
}
.sec--how-it-works.hiw--about .topics-wrapper .how-it-works-topics .paragraph {
  font-size: 14px;
}
@media (max-width: 40rem) {
  .sec--how-it-works.hiw--about .topics-wrapper .how-it-works-topics .paragraph {
    font-size: 12px;
  }
}
@media (min-width: 40rem) {
  .sec--how-it-works.hiw--about .topics-wrapper .how-it-works-topics .title-align-wrap .title.title--how-it-works {
    color: #FD8B26;
    font-size: 21px;
    margin-bottom: 10px;
  }
  .sec--how-it-works.hiw--about .topics-wrapper .how-it-works-topics .paragraph {
    min-height: 150px;
  }
}
.sec--why-purchase .cards-spacing {
  margin: 40px 0;
}
.sec--why-purchase .card {
  background-color: #2121A5;
  border-radius: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 200px;
}
.sec--why-purchase .card .percentage {
  color: #FD8B26;
  font-family: "amsipro-black";
  font-size: 63px;
  margin-right: 9px;
}
.sec--why-purchase .card .card-text {
  font-family: "amsipro-black";
  font-size: 21px;
  line-height: 1.1;
  color: white;
  max-width: 200px;
}
.sec--why-purchase .disclaimer {
  display: block;
  font-size: 12px;
  color: #B7B7B7;
}
.sec--why-purchase .stats-wrapper {
  padding-bottom: 20px;
}
.sec--why-purchase .stats-wrapper .percentage {
  font-family: "amsipro-black";
  font-size: 110px;
  color: #FD8B26;
  line-height: 1;
  position: relative;
}
.sec--why-purchase .stats-wrapper .percentage:after {
  content: "%";
  display: block;
  position: absolute;
  top: 28px;
  right: -50px;
  font-family: "amsipro-black";
  font-size: calc(110px - 50%);
  color: #FD8B26;
}
.sec--why-purchase .stats-wrapper .stats-text {
  font-family: "amsipro-black";
  font-size: 21px;
  color: #2121A5;
}
.sec--why-purchase .plus {
  font-family: "amsipro-black";
  font-size: 90px;
  color: #B7B7B7;
  line-height: 0.9;
  padding: 40px 30px 40px 80px;
}
.sec--why-purchase .border {
  border: 1px solid #B7B7B7;
  border-radius: 12px;
  padding: 36px;
  height: 300px;
}
@media (max-width: 40rem) {
  .sec--why-purchase .card {
    padding: 25px;
  }
  .sec--why-purchase .card .percentage {
    font-size: 50px;
  }
  .sec--why-purchase .card .card-text {
    font-size: 16px;
    max-width: 165px;
  }
  .sec--why-purchase .align-bottom {
    justify-content: center;
  }
  .sec--why-purchase .disclaimer {
    font-size: 10px;
    max-width: 245px;
    margin: auto;
  }
  .sec--why-purchase .stats-wrapper {
    padding-bottom: 26px;
  }
  .sec--why-purchase .stats-wrapper .percentage {
    font-size: 59px;
  }
  .sec--why-purchase .stats-wrapper .percentage:after {
    top: 18px;
    right: -30px;
    font-size: calc(59px - 50%);
  }
  .sec--why-purchase .stats-wrapper .stats-text {
    font-size: 14px;
  }
  .sec--why-purchase .plus {
    font-size: 64px;
    padding: 0 0 0 25px;
    margin: 0 12px;
  }
  .sec--why-purchase .text-center-mobile {
    font-size: 12px;
  }
}
@media (max-width: 60rem) {
  .sec--why-purchase .border {
    padding: 32px 25px;
    height: initial;
    margin: 10px 0;
  }
  .sec--why-purchase .border p {
    margin-bottom: 0;
  }
}
.sec--highlighted {
  background-color: #FD8B26;
  color: white;
}
.sec--highlighted .btn {
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);
  margin-top: 60px;
}
.sec--highlighted .disclaimer {
  display: block;
  font-size: 12px;
}
.sec--highlighted .sec-highlighted-content-space {
  margin: 55px 0 30px;
}
.sec--highlighted .sec-highlighted--title {
  font-family: "amsipro-black";
  font-size: 24px;
  line-height: 1.1;
  color: #2121A5;
}
.sec--highlighted .sec-highlighted--description {
  line-height: 1.2;
  max-width: 287px;
}
.sec--highlighted .flex {
  flex-wrap: nowrap;
  align-items: center;
}
.sec--highlighted .flex.outer-flex {
  flex-direction: column;
  gap: 28px;
}
.sec--highlighted .flex.inner-flex {
  gap: 24px;
}
@media (max-width: 40rem) {
  .sec--highlighted .sec-highlighted--title {
    display: none;
  }
  .sec--highlighted .sec-highlighted--description {
    font-family: "amsipro-black";
    font-size: 12px;
    max-width: 225px;
  }
  .sec--highlighted img {
    width: 65px;
  }
  .sec--highlighted .disclaimer {
    font-size: 10px;
    max-width: 245px;
    margin: auto;
  }
  .sec--highlighted .sec-highlighted-content-space {
    margin: 40px auto;
  }
  .sec--highlighted .flex.outer-flex {
    flex-direction: row;
    margin-bottom: 20px;
    gap: 20px;
  }
  .sec--highlighted .flex.outer-flex.row-reverse-mobile {
    flex-direction: row-reverse;
  }
}
.sec--differentials .differentials-wrap {
  max-width: 303px;
  margin: auto;
}
.sec--differentials .differentials-wrap .ornament {
  position: relative;
}
@media (min-width: 40rem) {
  .sec--differentials .differentials-wrap .ornament:before {
    content: "";
    background-image: url("../images/ornament.svg");
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    width: 55px;
    height: 97px;
    position: absolute;
  }
  .sec--differentials .differentials-wrap .ornament--left:before {
    top: 0;
    left: -65px;
  }
  .sec--differentials .differentials-wrap .ornament--right:before {
    bottom: 0;
    right: -75px;
    transform: rotate(180deg);
  }
}
.sec--differentials .title {
  margin-bottom: 34px;
}
@media (max-width: 40rem) {
  .sec--differentials {
    padding: 100px 0 0;
  }
  .sec--differentials .differentials-wrap figure {
    margin: 50px auto 0;
    width: 126px;
  }
}
.sec--differentials .title--differentials {
  font-family: "amsipro-black";
  font-size: 21px;
  line-height: 1.1;
  color: #FD8B26;
  margin: 20px 0;
}
@media (max-width: 40rem) {
  .sec--differentials .title--differentials {
    margin: 18px auto 13px;
  }
}
.sec--benefits .sec-subheading {
  font-family: "amsipro-black";
  font-size: 21px;
  line-height: 1.2;
  color: #FD8B26;
  margin-bottom: 25px;
}
.sec--benefits .sec-subheading span {
  color: #2C2C2C;
}
.sec--benefits .sec-benefits-list {
  margin: 0;
}
.sec--benefits .sec-benefits-list li {
  list-style: none;
  font-family: "amsipro-black";
  font-size: 24px;
  color: #B7B7B7;
  margin-bottom: 30px;
  padding-left: 40px;
  position: relative;
}
.sec--benefits .sec-benefits-list li.highlight {
  color: #FD8B26;
}
.sec--benefits .sec-benefits-list li:before {
  content: "";
  display: block;
  background-image: url("../images/arrow-right.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 32px;
  height: 14px;
  position: absolute;
  left: 0;
  top: 12px;
}
.sec--benefits .paragraph {
  margin-bottom: 40px;
}
@media (max-width: 40rem) {
  .sec--benefits .sec-subheading {
    font-size: 16px;
  }
  .sec--benefits .sec-subheading span {
    color: #FD8B26;
  }
  .sec--benefits .sec-benefits-list {
    margin: 0 auto 20px;
    max-width: 275px;
  }
  .sec--benefits .sec-benefits-list li {
    text-align: left;
    font-size: 16px;
    margin-bottom: 10px;
  }
  .sec--benefits .sec-benefits-list li:before {
    top: 5px;
  }
  .sec--benefits .title {
    margin: 35px auto 20px;
  }
}
.sec--apps {
  padding-bottom: 0;
}
.sec--apps .grid-container {
  background-image: url("../images/remby-apps.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  height: 612px;
}
.sec--apps .title {
  font-size: 65px;
  line-height: 1;
  margin-bottom: 25px;
}
.sec--apps .flex {
  gap: 10px;
  margin: 45px 0;
}
@media (max-width: 40rem) {
  .sec--apps .grid-container {
    background-image: url("../images/remby-apps-mobile.png");
    background-position: right bottom -20px;
    height: 440px;
  }
  .sec--apps .title {
    font-size: 24px;
  }
  .sec--apps .flex {
    flex-direction: column;
    align-items: flex-start;
  }
  .sec--apps .flex img {
    width: 152px;
  }
}
.sec--about-hero {
  padding: 167px 0 100px;
}
.sec--about-hero .paragraph {
  max-width: 646px;
  margin: 30px auto;
}
.sec--about-hero .title.highlight {
  font-size: 24px;
}
@media (max-width: 40rem) {
  .sec--about-hero {
    padding: 100px 0;
  }
}
.sec--pillars .card {
  padding: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
  flex-direction: row;
  border-radius: 17px;
  border: none;
  gap: 26px;
}
.sec--pillars .card img {
  width: 252px;
}
@media (max-width: 40rem) {
  .sec--pillars .card {
    padding: 22px 46px 22px 26px;
  }
  .sec--pillars .card img {
    display: none;
  }
}
.sec--pillars .title {
  font-family: "amsipro-black";
  font-size: 24px;
}
.sec--pillars .margin-bottom {
  margin-bottom: 40px;
}
.sec--pillars .btn {
  margin-top: 58px;
}
.sec--about-benefits .title.margin-bottom {
  margin-bottom: 55px;
}
@media (max-width: 40rem) {
  .sec--about-benefits .title.margin-bottom {
    margin-bottom: 40px;
  }
}
.sec--about-benefits .card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
  border-radius: 17px;
  border: none;
  min-height: 415px;
}
.sec--about-benefits .card .card-divider,
.sec--about-benefits .card .card-section {
  padding: 34px 30px 22px;
}
.sec--about-benefits .card .card-divider {
  background-color: #2121A5;
  font-family: "amsipro-black";
  font-size: 32px;
  color: white;
  line-height: 1;
}
.sec--about-benefits .card .card-divider em {
  font-family: "amsipro-italic";
}
@media (max-width: 40rem) {
  .sec--about-benefits .card {
    min-height: initial;
  }
  .sec--about-benefits .card .card-divider {
    font-size: 24px;
  }
}
.sec--contato {
  padding: 200px 0;
}
.sec--contato .margin {
  margin: 36px 0;
}
@media (max-width: 40rem) {
  .sec--contato {
    padding: 100px 0 0;
  }
  .sec--contato img {
    position: relative;
    top: 10px;
  }
}