@font-face {
  font-family: "amsipro-regular";
  src: url("../fonts/amsipro-webfont.woff2") format("woff2"), url("../fonts/amsipro-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "amsipro-black";
  src: url("../fonts/amsipro-black-webfont.woff2") format("woff2"), url("../fonts/amsipro-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "amsipro-black-italic";
  src: url("../fonts/amsipro-blackitalic-webfont.woff2") format("woff2"), url("../fonts/amsipro-blackitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "amsipro-bold";
  src: url("../fonts/amsipro-bold-webfont.woff2") format("woff2"), url("../fonts/amsipro-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "amsipro-bold-italic";
  src: url("../fonts/amsipro-bold-italic-webfont.woff2") format("woff2"), url("../fonts/amsipro-bold-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "amsipro-italic";
  src: url("../fonts/amsipro-italic-webfont.woff2") format("woff2"), url("../fonts/amsipro-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.btn {
  display: inline-block;
  padding: 10px 27px 11px;
  font-family: "amsipro-bold";
  font-size: 14px;
  color: white;
  text-transform: uppercase;
  border-radius: 22px;
}
.btn--primary {
  background-color: #4BC789;
}
.btn--secondary {
  background-color: #FD8B26;
}
.btn:hover {
  color: white;
}

.title {
  font-family: "amsipro-black";
  font-size: 42px;
  color: #2121A5;
}
@media (max-width: 40rem) {
  .title {
    font-size: 24px;
  }
}

@media (max-width: 40rem) {
  p.paragraph {
    font-size: 12px;
  }
}

.header {
  background-color: transparent;
  width: 100%;
  height: 100px;
  padding-top: 24px;
  position: fixed;
  z-index: 1;
  -webkit-transition: all 400ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 400ms cubic-bezier(0.42, 0, 0.58, 1);
  -ms-transition: all 400ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 400ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 400ms cubic-bezier(0.42, 0, 0.58, 1);
}
.header .logo-rembly.active {
  display: none;
}
.header nav a {
  display: inline-block;
  margin-left: 28px;
  color: white;
}
.header nav a:hover {
  color: #FD8B26;
}
.header .mobile-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header .mobile-wrap .close-icon {
  display: none;
}
@media (min-width: 40rem) {
  .header.active {
    -webkit-transition: all 400ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 400ms cubic-bezier(0.42, 0, 0.58, 1);
    -ms-transition: all 400ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 400ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 400ms cubic-bezier(0.42, 0, 0.58, 1);
    background-color: rgba(255, 255, 255, 0.9);
  }
  .header.active nav a {
    color: #2C2C2C;
  }
  .header.active nav a.btn {
    color: white;
  }
  .header.active .logo-rembly.not-active {
    display: none;
  }
  .header.active .logo-rembly.active {
    display: block;
  }
}
@media (max-width: 40rem) {
  .header {
    background-color: #2121A5;
    height: 64px;
    padding-top: initial;
    position: fixed;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);
  }
  .header nav a:not(.btn) {
    padding: 10px 0 13px 50px;
    margin-left: initial;
    width: 100%;
  }
  .header nav a:not(.btn):hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .header .btn {
    margin-left: 50px;
  }
  .header .btn--secondary {
    margin-top: 10px;
  }
  .header .logo-rembly {
    width: 114px;
  }
  .header .mobile-wrap {
    display: initial;
    justify-content: initial;
    background-color: #2121A5;
    position: fixed;
    height: 100%;
    width: 80%;
    top: 0;
    left: 0;
    z-index: 2;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);
  }
  .header .mobile-wrap .close-icon {
    display: inline-flex;
    width: 14px;
    height: 14px;
    cursor: pointer;
  }
  .header .mobile-wrap .flex {
    flex-wrap: wrap;
  }
  .header .mobile-menu-opened-header {
    padding: 18px 20px;
  }
  .header .title-bar {
    background: transparent;
    width: 100%;
    height: 64px;
    padding: 16px 0px;
    justify-content: center;
  }
  .header .title-bar .menu-icon {
    position: absolute;
    left: 23px;
  }
}

footer {
  background-color: #2121A5;
  font-size: 12px;
  color: white;
}
footer .footer-description {
  margin-left: 20px;
  max-width: 483px;
}
footer .logo {
  padding: 40px 0;
}
footer .footer-bottom {
  background-color: rgba(255, 255, 255, 0.1);
}
footer .footer-bottom .flex {
  height: 50px;
}
footer .social-desktop div {
  margin-bottom: 10px;
}
footer .social-desktop i {
  margin-right: 6px;
}
footer .social-desktop i:before {
  font-size: 16px;
}
footer .social-desktop .margin-left {
  margin-left: 18px;
}
@media (max-width: 40rem) {
  footer .footer-description {
    margin-left: 0;
    max-width: 260px;
    font-size: 10px;
    margin-bottom: 35px;
    text-align: center;
  }
  footer .logo {
    padding: 40px 0 20px;
  }
  footer .flex {
    flex-direction: column;
    height: initial;
    font-size: 10px;
    justify-content: center;
  }
  footer .footer-bottom .flex {
    flex-direction: row-reverse;
    gap: 20px;
  }
  footer .copyright-disclaimer {
    margin-bottom: 10px;
  }
  footer .show-for-small-only .title {
    font-family: "amsipro-black";
    font-size: 14px;
    margin-bottom: 10px;
  }
  footer .show-for-small-only .footer-icons-nav {
    display: flex;
    gap: 10px;
    margin-bottom: 25px;
  }
  footer .show-for-small-only .footer-icons-nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 25px;
    background-color: #FD8B26;
  }
  footer .show-for-small-only .footer-icons-nav a:last-child {
    background-color: #4BC789;
  }
  footer .show-for-small-only .footer-icons-nav a i:before {
    color: white;
    font-size: 20px;
  }
}

.flex {
  display: flex;
}

.grid-x.align-middle {
  height: 100%;
}

.highlight {
  color: #FD8B26;
}
.highlight:focus, .highlight:hover {
  color: #FD8B26;
}

.text-center {
  text-align: center;
}

.separator {
  display: block;
  width: 100%;
  height: 8px;
  background-color: #2121A5;
  position: relative;
  top: 77px;
}
@media (max-width: 60rem) {
  .separator {
    display: none;
  }
}

.show-for-small-only {
  display: none;
}

@media print, screen and (max-width: 39.99875em) {
  .hide-for-small-only {
    display: none;
  }

  .show-for-small-only {
    display: inline-block;
  }

  .text-center-mobile {
    text-align: center;
  }
}
body {
  font-family: "amsipro-regular", sans-serif;
  color: #2C2C2C;
}
body .grid-container {
  max-width: 81rem;
}
body a:hover, body a:focus {
  text-decoration: underline;
}

.sec {
  padding: 50px 0;
}
.sec--hero {
  padding-top: 100px;
  display: flex;
  background-image: url(" ");
  background-position: center;
  background-repeat: repeat;
  background-color: #2121A5;
  color: white;
}
.sec--hero .heading {
  font-family: "amsipro-black";
  font-size: 52px;
  line-height: 1.1;
}
@media (max-width: 40rem) {
  .sec--hero .heading {
    font-size: 28px;
  }
}
.sec--hero .subheading {
  font-size: 21px;
  max-width: 453px;
  margin: 45px 0 60px;
}
.sec--hero .hero-img {
  position: relative;
  bottom: 0;
}
@media (min-width: 40rem) {
  .sec--hero {
    height: 768px;
  }
}
@media (max-width: 40rem) {
  .sec--hero {
    height: 440px;
  }
  .sec--hero .heading {
    font-size: 26px;
    line-height: 1.4;
    text-align: center;
    margin-top: 30px;
  }
  .sec--hero .subheading {
    font-size: 20px;
    line-height: 1.4;
  }
  .sec--hero .hero-img {
    max-width: 340px;
  }
}
.sec--posthero .subheading {
  font-size: 12px;
  max-width: 265px;
}
.sec--posthero .btn {
  margin: 30px 0;
}
@media (max-width: 40rem) {
  .sec--posthero {
    padding-top: 240px;
  }
}
.sec--how-it-works .title {
  margin-bottom: 175px;
}
@media (max-width: 40rem) {
  .sec--how-it-works .title {
    margin-bottom: 30px;
  }
}
.sec--how-it-works .btn {
  margin-top: 70px;
}
.sec--how-it-works .how-it-works-topics {
  display: flex;
  flex-direction: column;
  width: 284px;
  align-items: center;
}
@media (max-width: 40rem) {
  .sec--how-it-works .how-it-works-topics {
    margin: 15px auto;
    flex-direction: row;
    width: 100%;
  }
}
.sec--how-it-works .how-it-works-topics .topic-numbers {
  display: block;
  width: 132px;
  height: 132px;
  border-radius: 70px;
  background-color: #FD8B26;
  position: relative;
  margin-bottom: 60px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.16);
}
.sec--how-it-works .how-it-works-topics .topic-numbers:before {
  content: "";
  background-image: url("../images/pin.png");
  background-repeat: no-repeat;
  display: block;
  width: 49px;
  height: 84px;
  position: absolute;
  top: -126px;
  left: 50%;
  margin-left: -24px;
}
@media (max-width: 40rem) {
  .sec--how-it-works .how-it-works-topics .topic-numbers:before {
    content: none;
  }
}
.sec--how-it-works .how-it-works-topics .topic-numbers span {
  position: absolute;
  left: 5px;
  top: -70px;
  color: #2121A5;
  font-family: "amsipro-black";
  font-size: 152px;
}
@media (max-width: 40rem) {
  .sec--how-it-works .how-it-works-topics .topic-numbers span {
    font-size: 56px;
    top: -26px;
  }
}
@media (max-width: 40rem) {
  .sec--how-it-works .how-it-works-topics .topic-numbers {
    flex: none;
    width: 49px;
    height: 49px;
    margin-bottom: initial;
    margin-right: 18px;
  }
}
.sec--how-it-works .how-it-works-topics .title--how-it-works {
  font-size: 24px;
  margin-bottom: 0;
}
@media (min-width: 40rem) {
  .sec--how-it-works .how-it-works-topics .title--how-it-works {
    font-size: 32px;
    text-align: center;
    margin-bottom: 37px;
  }
}
@media (min-width: 40rem) {
  .sec--how-it-works .how-it-works-topics .paragraph {
    text-align: center;
  }
}
.sec--how-it-works .topics-wrapper {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 40rem) {
  .sec--how-it-works .topics-wrapper {
    flex-direction: column;
  }
}
.sec--how-it-works .title-align-wrap {
  height: 88px;
  display: flex;
  align-items: flex-end;
}
@media (min-width: 40rem) {
  .sec--how-it-works .title-align-wrap {
    justify-content: center;
  }
}
@media (max-width: 40rem) {
  .sec--how-it-works .title-align-wrap {
    height: initial;
  }
}
@media (max-width: 40rem) {
  .sec--how-it-works {
    padding-top: 0;
  }
}
.sec--why-purchase .cards-spacing {
  margin: 40px 0;
}
.sec--why-purchase .card {
  background-color: #2121A5;
  border-radius: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 200px;
}
.sec--why-purchase .card .percentage {
  color: #FD8B26;
  font-family: "amsipro-black";
  font-size: 63px;
  margin-right: 9px;
}
.sec--why-purchase .card .card-text {
  font-family: "amsipro-black";
  font-size: 21px;
  line-height: 1.1;
  color: white;
  max-width: 200px;
}
.sec--why-purchase .disclaimer {
  display: block;
  font-size: 12px;
  color: #B7B7B7;
}
.sec--why-purchase .stats-wrapper {
  padding: 40px 0;
}
.sec--why-purchase .stats-wrapper .percentage {
  font-family: "amsipro-black";
  font-size: 110px;
  color: #FD8B26;
  line-height: 1;
  position: relative;
}
.sec--why-purchase .stats-wrapper .percentage:after {
  content: "%";
  display: block;
  position: absolute;
  top: 28px;
  right: -50px;
  font-family: "amsipro-black";
  font-size: calc(110px - 50%);
  color: #FD8B26;
}
.sec--why-purchase .stats-wrapper .percentage--small {
  font-size: 70px;
}
.sec--why-purchase .stats-wrapper .percentage--small:after {
  top: 18px;
  right: -35px;
  font-size: calc(70px - 50%);
}
.sec--why-purchase .stats-wrapper .stats-text {
  font-family: "amsipro-black";
  font-size: 21px;
  color: #2121A5;
}
.sec--why-purchase .ampersand {
  font-family: "amsipro-black";
  font-size: 90px;
  color: #B7B7B7;
  line-height: 0.9;
  padding: 40px 0;
  margin: 0 32px;
}
@media (max-width: 40rem) {
  .sec--why-purchase .card {
    padding: 25px;
  }
  .sec--why-purchase .card .percentage {
    font-size: 50px;
  }
  .sec--why-purchase .card .card-text {
    font-size: 16px;
    max-width: 165px;
  }
  .sec--why-purchase .align-bottom {
    justify-content: center;
  }
  .sec--why-purchase .disclaimer {
    font-size: 10px;
    max-width: 245px;
    margin: auto;
  }
  .sec--why-purchase .stats-wrapper {
    padding: 40px 0 20px;
  }
  .sec--why-purchase .stats-wrapper .percentage {
    font-size: 78px;
  }
  .sec--why-purchase .stats-wrapper .percentage:after {
    top: 18px;
    right: -38px;
    font-size: calc(78px - 50%);
  }
  .sec--why-purchase .stats-wrapper .percentage--small {
    font-size: 40px;
  }
  .sec--why-purchase .stats-wrapper .percentage--small:after {
    top: 8px;
    right: -20px;
    font-size: calc(40px - 50%);
  }
  .sec--why-purchase .stats-wrapper .stats-text {
    font-size: 14px;
  }
  .sec--why-purchase .ampersand {
    font-size: 64px;
    padding: 40px 0 20px;
  }
  .sec--why-purchase .text-center-mobile {
    font-size: 12px;
  }
}
.sec--highlighted {
  background-color: #FD8B26;
  color: white;
}
.sec--highlighted .btn {
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);
  margin-top: 60px;
}
.sec--highlighted .disclaimer {
  display: block;
  font-size: 12px;
}
.sec--highlighted .sec-highlighted-content-space {
  margin: 70px 0 30px;
}
.sec--highlighted .sec-highlighted--title {
  font-family: "amsipro-black";
  font-size: 24px;
  line-height: 1.1;
  color: #2121A5;
}
.sec--highlighted .sec-highlighted--description {
  line-height: 1.2;
  max-width: 287px;
}
.sec--highlighted .flex {
  flex-wrap: nowrap;
  align-items: center;
}
.sec--highlighted .flex.outer-flex {
  flex-direction: column;
  gap: 28px;
}
.sec--highlighted .flex.inner-flex {
  gap: 24px;
}
@media (max-width: 40rem) {
  .sec--highlighted .sec-highlighted--title {
    display: none;
  }
  .sec--highlighted .sec-highlighted--description {
    font-family: "amsipro-black";
    font-size: 12px;
    max-width: 225px;
  }
  .sec--highlighted img {
    width: 65px;
  }
  .sec--highlighted .disclaimer {
    font-size: 10px;
    max-width: 245px;
    margin: auto;
  }
  .sec--highlighted .sec-highlighted-content-space {
    margin: 40px auto;
  }
  .sec--highlighted .flex.outer-flex {
    flex-direction: row;
    margin-bottom: 20px;
    gap: 20px;
  }
  .sec--highlighted .flex.outer-flex.row-reverse-mobile {
    flex-direction: row-reverse;
  }
}
.sec--differentials .differentials-wrap {
  max-width: 303px;
  margin: auto;
}
.sec--differentials .differentials-wrap .ornament {
  position: relative;
}
@media (min-width: 40rem) {
  .sec--differentials .differentials-wrap .ornament:before {
    content: "";
    background-image: url("../images/ornament.png");
    background-repeat: no-repeat;
    display: block;
    width: 55px;
    height: 97px;
    position: absolute;
  }
  .sec--differentials .differentials-wrap .ornament--left:before {
    top: 0;
    left: -65px;
  }
  .sec--differentials .differentials-wrap .ornament--right:before {
    bottom: 0;
    right: -75px;
    transform: rotate(180deg);
  }
}
@media (max-width: 40rem) {
  .sec--differentials {
    padding-top: 100px;
  }
  .sec--differentials .differentials-wrap figure {
    margin: 50px auto 0;
    width: 126px;
  }
}
.sec--differentials .title--differentials {
  font-family: "amsipro-black";
  font-size: 21px;
  line-height: 1.1;
  color: #FD8B26;
  margin: 20px 0;
}
@media (max-width: 40rem) {
  .sec--differentials .title--differentials {
    margin: 18px auto 13px;
  }
}
.sec--benefits .sec-subheading {
  font-family: "amsipro-black";
  font-size: 21px;
  line-height: 1.2;
  color: #FD8B26;
  margin-bottom: 25px;
}
.sec--benefits .sec-subheading span {
  color: #2C2C2C;
}
.sec--benefits .sec-benefits-list {
  margin: 0;
}
.sec--benefits .sec-benefits-list li {
  list-style: none;
  font-family: "amsipro-black";
  font-size: 24px;
  color: #B7B7B7;
  margin-bottom: 30px;
  padding-left: 40px;
  position: relative;
}
.sec--benefits .sec-benefits-list li.highlight {
  color: #FD8B26;
}
.sec--benefits .sec-benefits-list li:before {
  content: "";
  display: block;
  background-image: url("../images/arrow-right.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 32px;
  height: 14px;
  position: absolute;
  left: 0;
  top: 12px;
}
.sec--benefits .paragraph {
  margin-bottom: 40px;
}
@media (max-width: 40rem) {
  .sec--benefits .sec-subheading {
    font-size: 16px;
  }
  .sec--benefits .sec-subheading span {
    color: #FD8B26;
  }
  .sec--benefits .sec-benefits-list {
    margin: 0 auto 20px;
    max-width: 275px;
  }
  .sec--benefits .sec-benefits-list li {
    text-align: left;
    font-size: 16px;
    margin-bottom: 10px;
  }
  .sec--benefits .sec-benefits-list li:before {
    top: 5px;
  }
  .sec--benefits .title {
    margin: 35px auto 20px;
  }
}
.sec--apps {
  padding-bottom: 0;
}
.sec--apps .grid-container {
  background-image: url("../images/rembly-apps.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  height: 612px;
}
.sec--apps .title {
  font-size: 65px;
  line-height: 1;
  margin-bottom: 25px;
}
.sec--apps .flex {
  gap: 10px;
  margin: 45px 0;
}
@media (max-width: 40rem) {
  .sec--apps .grid-container {
    background-image: url("../images/rembly-apps-mobile.png");
    background-position: right bottom -20px;
    height: 440px;
  }
  .sec--apps .title {
    font-size: 24px;
  }
  .sec--apps .flex {
    flex-direction: column;
    align-items: flex-start;
  }
  .sec--apps .flex img {
    width: 152px;
  }
}