@font-face {
  font-family: "amsipro-regular";
  src: url("../fonts/amsipro-webfont.woff2") format("woff2"), url("../fonts/amsipro-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "amsipro-black";
  src: url("../fonts/amsipro-black-webfont.woff2") format("woff2"), url("../fonts/amsipro-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "amsipro-black-italic";
  src: url("../fonts/amsipro-blackitalic-webfont.woff2") format("woff2"), url("../fonts/amsipro-blackitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "amsipro-bold";
  src: url("../fonts/amsipro-bold-webfont.woff2") format("woff2"), url("../fonts/amsipro-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "amsipro-bold-italic";
  src: url("../fonts/amsipro-bold-italic-webfont.woff2") format("woff2"), url("../fonts/amsipro-bold-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "amsipro-italic";
  src: url("../fonts/amsipro-italic-webfont.woff2") format("woff2"), url("../fonts/amsipro-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}

.grid-x.align-middle {
  height: 100%;
}

body {
  font-family: "amsipro-regular", sans-serif;
  color: #666;
}
body .grid-container {
  max-width: 81rem;
}

header {
  background-color: transparent;
  width: 100%;
  height: 100px;
  position: absolute;
}
header nav a {
  display: inline-block;
  padding: 35px 15px 30px;
  color: white;
}
header nav a.btn-primary {
  padding: 10px 25px;
  border: 1px solid white;
  border-radius: 5px;
  margin: 20px 0;
}
header nav a.btn-primary:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
}

.sec {
  padding-top: 100px;
}
.sec--hero {
  display: flex;
  background-image: url(" ");
  background-position: center;
  background-repeat: repeat;
  background-color: #2121A5;
  color: white;
}
.sec--hero .heading {
  font-family: "amsipro-black";
  font-size: 52px;
  line-height: 1.1;
}
.sec--hero .heading .highlight {
  color: #FD8B26;
}
.sec--hero .subheading {
  font-size: 21px;
}
@media (min-width: 40rem) {
  .sec--hero {
    height: 768px;
  }
}
.sec--features article {
  display: inline-flex;
  justify-content: center;
  max-width: 33%;
  flex-wrap: wrap;
  text-align: center;
}
.sec--features article:nth-child(-n+9) {
  margin-bottom: 60px;
}
.sec--features article .title {
  color: #538ddd;
  font-size: 22px;
}
.sec--features article .paragraph {
  font-size: 15px;
  max-width: 290px;
}
.sec--security {
  padding-bottom: 150px;
}
.sec--security .grid-container {
  background-image: url("../images/separator.png");
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 80px;
}
.sec .title {
  color: #215aa9;
}
@media (max-width: 60rem) {
  .sec--features article {
    max-width: 49%;
  }
}
@media (max-width: 40rem) {
  .sec {
    padding-top: 75px;
  }
  .sec--hero .sec-hero-bottom {
    padding: 40px 0;
  }
  .sec--hero .sec-hero-bottom .heading {
    font-size: 26px;
    line-height: 1.4;
  }
  .sec--hero .sec-hero-bottom .subheading {
    font-size: 20px;
    line-height: 1.4;
  }
  .sec--about img {
    margin-bottom: 20px;
  }
  .sec--features article {
    max-width: initial;
    margin-bottom: 20px;
    text-align: center;
  }
  .sec--security {
    padding-bottom: 75px;
  }
  .sec .title {
    font-size: 26px;
    text-align: center;
  }
  .sec .paragraph {
    text-align: center;
  }
}

footer {
  background-color: #4a4a4a;
  padding: 40px 0;
  font-size: 12px;
  color: #9b9b9b;
}
footer span {
  margin-left: 20px;
}
@media (max-width: 40rem) {
  footer span {
    margin-left: 0;
  }
  footer img {
    margin-bottom: 20px;
  }
}