// Components
.btn
	display: inline-block
	padding: 10px 27px 11px
	font-family: 'amsipro-bold'
	font-size: 14px
	color: white
	text-transform: uppercase
	border-radius: 22px
	&--primary
		background-color: $green
	&--secondary
		background-color: $orange
	&:hover
		color: white

.duration
	padding: 12px 40px
	border-radius: 25px
	background-color: $gray
	box-shadow: 0 3px 3px rgba(black, 0.16)
	font-family: 'amsipro-bold'
	color: white
	i
		margin-right: 10px
		&:before
			color: $dark
	.time
		color: #2121A5

.title
	font-family: 'amsipro-black'
	font-size: 42px
	color: $blue
	@media (max-width: 40rem)
		font-size: 24px

p.paragraph
	@media (max-width: 40rem)
		font-size: 12px

// Header
.header
	width: 100%
	height: 100px
	padding-top: 24px
	position: fixed
	z-index: 1
	background-color: transparent
	@include transition(400ms)
	.logo-rembly.active
		display: none
	nav a
		display: inline-block
		margin-left: 28px
		color: white
		&:hover
			color: $orange
		&.btn:hover
			color: white
	.mobile-wrap
		width: 100%
		display: flex
		justify-content: space-between
		.close-icon
			display: none
	@media (min-width: 40rem)
		&.active
			@include transition(400ms)
			background-color: rgba(white, 0.9)
			nav a
				color: $dark
				&:hover
					color: $orange
				&.btn
					color: white
			.logo-rembly.not-active
				display: none
			.logo-rembly.active
				display: block
	@media (max-width: 40rem)
		background-color: $blue
		height: 64px
		padding-top: initial
		position: fixed
		box-shadow: $shadow
		nav a:not(.btn)
			padding: 10px 0 13px 50px
			margin-left: initial
			width: 100% 
			&:hover
				background-color: rgba(white, 0.1)
		.btn
			margin-left: 50px
			&--secondary
				margin-top: 10px
		.logo-rembly
			width: 114px
		.mobile-wrap
			display: initial
			justify-content: initial
			background-color: $blue
			position: fixed
			height: 100%
			width: 80%
			top: 0
			left: 0
			z-index: 2
			box-shadow: $shadow
			.close-icon
				display: inline-flex
				width: 14px
				height: 14px
				cursor: pointer
			.flex
				flex-wrap: wrap
		.mobile-menu-opened-header
			padding: 18px 20px
		.title-bar
			background: transparent
			width: 100%
			height: 64px
			padding: 16px 0px
			justify-content: center
			.menu-icon
				position: absolute
				left: 23px
	&--style-b
		background-color: white
		box-shadow: 0 3px 20px rgba(black, 0.08)
		nav a
			color: $dark
			&:hover
				color: $orange
			&.btn
				color: white 
				&:hover
					color: white

// Footer
footer
	background-color: $blue
	font-size: 12px
	color: white
	.footer-description
		margin-left: 20px
		max-width: 483px
	.logo
		padding: 40px 0
	.footer-bottom
		background-color: rgba(white, 0.1)
		.flex
			height: 50px
	.social-desktop
		div
			margin-bottom: 10px
		i
			margin-right: 6px
			&:before
				font-size: 16px
		.margin-left
			margin-left: 18px
	@media (max-width: 40rem)
		.footer-description
			margin-left: 0
			max-width: 260px
			font-size: 10px
			margin-bottom: 35px
			text-align: center
		.logo
			padding: 40px 0 20px
		.flex
			flex-direction: column
			height: initial
			font-size: 10px
			justify-content: center
		.footer-bottom .flex
			flex-direction: row-reverse
			gap: 20px
		.copyright-disclaimer
			margin-bottom: 10px
		.show-for-small-only
			.title
				font-family: 'amsipro-black'
				font-size: 14px
				margin-bottom: 10px
			.footer-icons-nav
				display: flex
				gap: 10px
				margin-bottom: 25px
				a
					display: flex
					align-items: center
					justify-content: center
					width: 45px
					height: 45px
					border-radius: 25px
					background-color: $orange
					&:last-child
						background-color: $green
					i:before
						color: white
						font-size: 20px
