// Sass
@import "typography"

// Variables
$primary-color: #215aa9
$secondary-color: #538ddd

$blue:   #2121A5
$green:  #4BC789
$orange: #FD8B26

// Helpers
.flex
	display: flex
	flex-wrap: wrap

.grid-x.align-middle
	height: 100%

// Base
body
	font-family: 'amsipro-regular', sans-serif
	color: #666
	.grid-container
		max-width: 81rem

// Components
.btn
	padding: 10px 27px 11px
	font-family: 'amsipro-bold'
	font-size: 14px
	color: white
	text-transform: uppercase
	border-radius: 22px
	&--primary
		background-color: $green
	&--secondary
		background-color: $orange
	&:hover
		color: white

// Header
header
	background-color: transparent
	width: 100%
	height: 100px
	position: absolute
	padding-top: 24px
	nav a
		display: inline-block
		margin-left: 28px
		color: white
		&:hover
			color: $orange

// Sections
.sec
	padding-top: 100px
	&--hero
		display: flex
		background:
			image: url(' ')
			position: center
			repeat: repeat
			color: $blue
		color: white
		.heading
			font-family: 'amsipro-black'
			font-size: 52px
			line-height: 1.1
			.highlight
				color: $orange
		.subheading
			font-size: 21px
			max-width: 453px
			margin: 45px 0 60px 
		@media (min-width: 40rem)
			height: 768px
	&--features
		article
			display: inline-flex
			justify-content: center
			max-width: 33%
			flex-wrap: wrap
			text-align: center
			&:nth-child(-n+9)
				margin-bottom: 60px
			.title
				color: $secondary-color
				font-size: 22px
			.paragraph
				font-size: 15px
				max-width: 290px
	&--security
		padding-bottom: 150px
		.grid-container
			background:
				image: url('../images/separator.png')
				position: top center
				size: contain
				repeat: no-repeat
			padding-top: 80px
	.title
		color: $primary-color
	@media (max-width: 60rem)
		&--features
			article
				max-width: 49%
	@media (max-width: 40rem)
		padding-top: 75px
		&--hero
			.sec-hero-bottom
				padding: 40px 0
				.heading
					font-size: 26px
					line-height: 1.4
				.subheading
					font-size: 20px
					line-height: 1.4
		&--about
			img
				margin-bottom: 20px
		&--features
			article
				max-width: initial
				margin-bottom: 20px
				text-align: center
		&--security
			padding-bottom: 75px
		.title
			font-size: 26px
			text-align: center
		.paragraph
			text-align: center

// Footer
footer
	background-color: #4a4a4a
	padding: 40px 0
	font-size: 12px
	color: #9b9b9b
	span
		margin-left: 20px
	@media (max-width: 40rem)
		span
			margin-left: 0
		img
			margin-bottom: 20px
