// Sass
@import "variables"
@import "mixins"
@import "typography"
@import "components"

// Helpers
.flex
	display: flex

.grid-x.align-middle
	height: 100%

.highlight
	color: $orange
	&:focus,
	&:hover
		color: $orange

.text-center
	text-align: center

.separator
	display: block
	width: 100%
	height: 8px
	background-color: $blue
	position: relative
	top: 77px
	@media (max-width: 60rem)
		display: none

.show-for-small-only
	display: none

.switch-mobile img
	&:first-child
		display: block
	&:last-child
		display: none
	@media print, screen and (max-width: 40em)
		&:first-child
			display: none
		&:last-child
			display: block

@media print, screen and (max-width: 39.99875em)
	.hide-for-small-only
		display: none

	.show-for-small-only
		display: inline-block

	.text-center-mobile
		text-align: center

// Base
body
	font-family: 'amsipro-regular', sans-serif
	color: $dark
	.grid-container
		max-width: 81rem
	a:hover, a:focus
		text-decoration: underline

// Sections
.sec
	padding: 50px 0
	&--hero
		padding-top: 100px
		display: flex
		background:
			image: url(' ')
			position: center
			repeat: repeat
			color: $blue
		color: white
		.heading
			font-family: 'amsipro-black'
			font-size: 52px
			line-height: 1.1
			@media (max-width: 40rem)
				font-size: 28px
		.subheading
			font-size: 21px
			max-width: 453px
			margin: 45px 0 60px
		.hero-img
			position: relative
			bottom: 0
		@media (min-width: 40rem)
			height: 768px
		@media (max-width: 40rem)
			height: 440px
			.heading
				font-size: 26px
				line-height: 1.4
				text-align: center
				margin-top: 30px
			.subheading
				font-size: 20px
				line-height: 1.4
			.hero-img
				max-width: 340px
	&--posthero
		.subheading
			font-size: 12px
			max-width: 265px
		.btn
			margin: 30px 0
		@media (max-width: 40rem)
			padding-top: 240px
	&--how-it-works
		padding: 0
		.title
			margin-bottom: 175px
		.topics-wrapper
			display: flex
			justify-content: space-between
			.how-it-works-topics
				display: flex
				flex-direction: column
				align-items: center
				margin: 0 9px
				width: 284px
				.topic-numbers
					display: block
					width: 132px
					height: 132px
					border-radius: 70px
					background-color: $orange
					position: relative
					margin-bottom: 60px
					box-shadow: 0 5px 10px rgba(black, 0.16)
					&:before
						content: ""
						background-image: url('../images/pin.svg')
						background-repeat: no-repeat
						display: block
						width: 49px
						height: 84px
						position: absolute
						top: -126px
						left: 50%
						margin-left: -24px
					span
						position: absolute
						left: 5px
						top: -70px
						color: $blue
						font-family: 'amsipro-black'
						font-size: 152px
				figure
					height: 200px
				img
					display: block
					margin: 0 auto
				.title-align-wrap
					height: 88px
					display: flex
					align-items: flex-end
					.title.title--how-it-works
						font-size: 32px
						margin-bottom: 37px
						text-align: left
						line-height: 1.2
				.paragraph
					line-height: 1.3
		.btn
			margin-top: 55px
		@media (max-width: 40rem)
			.title
				margin-bottom: 30px
			.topics-wrapper
				flex-direction: column
				.how-it-works-topics
					flex-direction: row
					align-items: flex-start
					margin: 15px auto
					width: 100%
					.topic-numbers
						flex: none
						width: 49px
						height: 49px
						margin-bottom: initial
						margin-right: 18px
						&:before
							content: none
						span
							font-size: 56px
							top: -26px
					figure,
					img
						display: none
					.title-align-wrap
						height: initial
						.title.title--how-it-works
							font-size: 24px
							margin-bottom: 8px
					.paragraph
						font-size: 12px
			.btn
				margin-top: 20px
		&.hiw--frontpage
			@media (min-width: 40rem)
				.topics-wrapper
					.how-it-works-topics
						.title-align-wrap
							justify-content: center
							.title.title--how-it-works
								text-align: center
						.paragraph
							text-align: center
		&.hiw--about
			.topics-wrapper
				.how-it-works-topics
					img
						max-height: 200px
					.paragraph
						font-size: 14px
			@media (max-width: 40rem)
				.topics-wrapper
					.how-it-works-topics
						.paragraph
							font-size: 12px
			@media (min-width: 40rem)
				.topics-wrapper
					.how-it-works-topics
						.title-align-wrap
							.title.title--how-it-works
								color: $orange
								font-size: 21px
								margin-bottom: 10px
						.paragraph
							min-height: 150px
	&--why-purchase
		.cards-spacing
			margin: 40px 0
		.card
			background-color: $blue
			border-radius: 14px
			display: flex
			flex-direction: row
			align-items: center
			justify-content: center
			height: 200px
			.percentage
				color: $orange
				font-family: 'amsipro-black'
				font-size: 63px
				margin-right: 9px
			.card-text
				font-family: 'amsipro-black'
				font-size: 21px
				line-height: 1.1
				color: white
				max-width: 200px
		.disclaimer
			display: block
			font-size: 12px
			color: $gray
		.stats-wrapper
			padding-bottom: 20px
			.percentage
				font-family: 'amsipro-black'
				font-size: 110px
				color: $orange
				line-height: 1
				position: relative
				&:after
					content: "%"
					display: block
					position: absolute
					top: 28px
					right: -50px
					font-family: 'amsipro-black'
					font-size: calc(110px - 50%)
					color: $orange
			.stats-text
				font-family: 'amsipro-black'
				font-size: 21px
				color: $blue
		.plus
			font-family: 'amsipro-black'
			font-size: 90px
			color: $gray
			line-height: 0.9
			padding: 40px 30px 40px 80px
		.border
			border: 1px solid $gray
			border-radius: 12px
			padding: 36px
			// margin: 10px
			height: 300px
		@media (max-width: 40rem)
			.card
				padding: 25px
				.percentage
					font-size: 50px
				.card-text
					font-size: 16px
					max-width: 165px
			.align-bottom
				justify-content: center
			.disclaimer
				font-size: 10px
				max-width: 245px
				margin: auto
			.stats-wrapper
				padding-bottom: 26px
				.percentage
					font-size: 59px
					&:after
						top: 18px
						right: -30px
						font-size: calc(59px - 50%)
				.stats-text
					font-size: 14px
			.plus
				font-size: 64px
				padding: 0 0 0 25px
				margin: 0 12px
			.text-center-mobile
				font-size: 12px
		@media (max-width: 60rem)
			.border
				padding: 32px 25px
				height: initial
				margin: 10px 0
				p
					margin-bottom: 0
	&--highlighted
		background-color: $orange
		color: white
		.btn
			box-shadow: $shadow
			margin-top: 60px
		.disclaimer
			display: block
			font-size: 12px
		.sec-highlighted-content-space
			margin: 55px 0 30px
		.sec-highlighted--title
			font-family: 'amsipro-black'
			font-size: 24px
			line-height: 1.1
			color: $blue
		.sec-highlighted--description
			line-height: 1.2
			max-width: 287px
		.flex
			flex-wrap: nowrap
			align-items: center
			&.outer-flex
				flex-direction: column
				gap: 28px
			&.inner-flex
				gap: 24px
		@media (max-width: 40rem)
			.sec-highlighted--title
				display: none
			.sec-highlighted--description
				font-family: 'amsipro-black'
				font-size: 12px
				max-width: 225px
			img
				width: 65px
			.disclaimer
				font-size: 10px
				max-width: 245px
				margin: auto
			.sec-highlighted-content-space
				margin: 40px auto
			.flex.outer-flex
				flex-direction: row
				margin-bottom: 20px
				gap: 20px
				&.row-reverse-mobile
					flex-direction: row-reverse
	&--differentials
		.differentials-wrap
			max-width: 303px
			margin: auto
			.ornament
				position: relative
				@media (min-width: 40rem)
					&:before
						content: ""
						background:
							image: url('../images/ornament.png')
							repeat: no-repeat
						display: block
						width: 55px
						height: 97px
						position: absolute
					&--left:before
						top: 0
						left: -65px
					&--right:before
						bottom: 0
						right: -75px
						transform: rotate(180deg)
		@media (max-width: 40rem)
			padding: 100px 0 0
			.differentials-wrap
				figure
					margin: 50px auto 0
					width: 126px
		.title--differentials
			font-family: 'amsipro-black'
			font-size: 21px
			line-height: 1.1
			color: $orange
			margin: 20px 0
			@media (max-width: 40rem)
				margin: 18px auto 13px
	&--benefits
		.sec-subheading
			font-family: 'amsipro-black'
			font-size: 21px
			line-height: 1.2
			color: $orange
			margin-bottom: 25px
			span
				color: #2C2C2C
		.sec-benefits-list
			margin: 0
			li
				list-style: none
				font-family: 'amsipro-black'
				font-size: 24px
				color: $gray
				margin-bottom: 30px
				padding-left: 40px
				position: relative
				&.highlight
					color: $orange
				&:before
					content: ""
					display: block
					background-image: url('../images/arrow-right.svg')
					background-repeat: no-repeat
					background-size: contain
					width: 32px
					height: 14px
					position: absolute
					left: 0
					top: 12px
		.paragraph
			margin-bottom: 40px
		@media (max-width: 40rem)
			.sec-subheading
				font-size: 16px
				span
					color: $orange
			.sec-benefits-list
				margin: 0 auto 20px
				max-width: 275px
				li
					text-align: left
					font-size: 16px
					margin-bottom: 10px
					&:before
						top: 5px
			.title
				margin: 35px auto 20px
	&--apps
		padding-bottom: 0
		.grid-container
			background-image: url('../images/remby-apps.png')
			background-repeat: no-repeat
			background-position: right bottom
			height: 612px
		.title
			font-size: 65px
			line-height: 1
			margin-bottom: 25px
		.flex
			gap: 10px
			margin: 45px 0
		@media (max-width: 40rem)
			.grid-container
				background-image: url('../images/remby-apps-mobile.png')
				background-position: right bottom -20px
				height: 440px
			.title
				font-size: 24px
			.flex
				flex-direction: column
				align-items: flex-start
				img
					width: 152px
	&--about-hero
		padding: 167px 0 100px
		.paragraph
			max-width: 646px
			margin: 30px auto
		.title.highlight
			font-size: 24px
		@media (max-width: 40rem)
			padding: 100px 0
	&--pillars
		.card
			padding: 40px
			box-shadow: 0 4px 8px rgba(black, 0.16)
			flex-direction: row
			border-radius: 17px
			border: none
			gap: 26px
			img
				width: 252px
			@media (max-width: 40rem)
				padding: 22px 46px 22px 26px
				img
					display: none
		.title
			font-family: 'amsipro-black'
			font-size: 24px
		.margin-bottom
			margin-bottom: 40px
		.btn
			margin-top: 58px
	&--about-benefits
		.title.margin-bottom
			margin-bottom: 55px
			@media (max-width: 40rem)
				margin-bottom: 40px
		.card
			box-shadow: 0 4px 8px rgba(black, 0.16)
			border-radius: 17px
			border: none
			min-height: 415px
			.card-divider,
			.card-section
				padding: 34px 30px 22px
			.card-divider
				background-color: $blue
				font-family: 'amsipro-black'
				font-size: 32px
				color: white
				line-height: 1
				em
					font-family: 'amsipro-italic'
			@media (max-width: 40rem)
				min-height: initial
				.card-divider
					font-size: 24px
	&--contato
		padding: 200px 0
		.margin-bottom
			margin-bottom: 36px
		@media (max-width: 40rem)
			padding: 100px 0 0
			img
				position: relative
				top: 10px
