@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
.flex {
  display: flex;
}

body {
  font-family: "Lato", sans-serif;
  color: #666;
}

header {
  background-color: #215aa9;
}
header nav a {
  display: inline-block;
  padding: 35px 15px 30px;
  color: white;
}
header nav a.btn-primary {
  padding: 10px 25px;
  border: 1px solid white;
  border-radius: 5px;
}

.sec {
  padding: 40px 0;
}
.sec--hero {
  display: flex;
  padding: 0;
  background-image: url("../images/hero-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
.sec--hero .sec-hero-bottom {
  background-color: rgba(12, 33, 62, 0.75);
  width: 100%;
  padding: 35px;
}
.sec--hero .sec-hero-bottom .heading {
  font-weight: 700;
  font-size: 40px;
  line-height: 1;
}
.sec--hero .sec-hero-bottom .subheading {
  font-size: 32px;
}
@media (min-width: 40rem) {
  .sec--hero {
    height: 600px;
  }
}
.sec--features article {
  display: inline-flex;
  justify-content: center;
  max-width: 33%;
  flex-wrap: wrap;
  text-align: center;
  margin-bottom: 60px;
}
.sec--features article .title {
  color: #538ddd;
  font-size: 24px;
}
.sec--features article .paragraph {
  max-width: 290px;
}
.sec--security .grid-container {
  background-image: url("../images/separator.png");
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 80px 0;
}
.sec .title {
  color: #215aa9;
}

footer {
  background-color: #4a4a4a;
  color: white;
  padding: 40px 0;
}
footer a {
  color: white;
}