@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
.flex {
  display: flex;
}

body {
  font-family: "Lato", sans-serif;
}

header {
  background-color: #215aa9;
}
header nav a {
  display: inline-block;
  padding: 35px 15px 30px;
  color: white;
}
header nav a.btn-primary {
  padding: 10px 25px;
  border: 1px solid white;
  border-radius: 5px;
}

.sec {
  padding: 40px 0;
}
.sec--hero {
  display: flex;
  padding: 0;
  background-image: url("../images/hero-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
.sec--hero .sec-hero-bottom {
  background-color: rgba(12, 33, 62, 0.75);
  width: 100%;
  padding: 35px;
}
@media (min-width: 40rem) {
  .sec--hero {
    height: 600px;
  }
}
.sec .title {
  color: #215aa9;
}

footer {
  background-color: #4a4a4a;
  color: white;
  padding: 40px 0;
}
footer a {
  color: white;
}